stages:
  - build
  - mirror

variables:
  NEXTCLOUD_VERSION: '31.0.10'
  IMAGE_NAME: 'server'

images:
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: never
    - when: on_success
  image: quay.io/buildah/stable:v1.41.5
  variables:
    STORAGE_DRIVER: 'vfs'
  script:
    - echo "$CI_REGISTRY_PASSWORD" | buildah login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - buildah build -t "$CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME"
        --build-arg NEXTCLOUD_VERSION="$NEXTCLOUD_VERSION"
    - buildah push "$CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME"

mirror-git-github:
  stage: mirror
  rules:
    - if: $CI_PIPELINE_SOURCE == 'push'
  dependencies: []
  image: docker.io/alpine/git:v2.49.1
  variables:
    GIT_STRATEGY: clone
  script:
    - git remote add github "https://$GITHUB_USER:$GITHUB_PASSWORD@github.com/flakybitnet/nextcloud-oci.git"
    - if [ -n "${CI_COMMIT_BRANCH-}" ]; then
        git checkout -b "$CI_COMMIT_BRANCH";
        git fetch github;
        git push --force-with-lease github "$CI_COMMIT_BRANCH";
        fi
    - if [ -n "${CI_COMMIT_TAG-}" ]; then
        git push github tag $CI_COMMIT_TAG;
        fi

mirror-image-github:
  stage: mirror
  rules:
    - if: $CI_COMMIT_TAG
  dependencies: []
  image: public.ecr.aws/flakybitnet/skopeo:1.20.0-fb1
  variables:
    REGISTRY: ghcr.io
    IMAGE: flakybitnet/nextcloud-server
    GIT_STRATEGY: none
  script:
    - echo "$GITHUB_PASSWORD" | skopeo login -u "$GITHUB_USER" --password-stdin "$REGISTRY"
    - skopeo copy "docker://$CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME" "docker://$REGISTRY/$IMAGE:$CI_COMMIT_REF_NAME"

mirror-image-quay:
  stage: mirror
  rules:
    - if: $CI_COMMIT_TAG
  dependencies: []
  image: public.ecr.aws/flakybitnet/skopeo:1.20.0-fb1
  variables:
    REGISTRY: quay.io
    IMAGE: flakybitnet/nextcloud-server
    GIT_STRATEGY: none
  script:
    - echo "$QUAY_PASSWORD" | skopeo login -u "$QUAY_USER" --password-stdin "$REGISTRY"
    - skopeo copy "docker://$CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME" "docker://$REGISTRY/$IMAGE:$CI_COMMIT_REF_NAME"

mirror-image-amazon:
  stage: mirror
  rules:
    - if: $CI_COMMIT_TAG
  dependencies: []
  image: public.ecr.aws/flakybitnet/skopeo:1.20.0-fb1
  variables:
    REGISTRY: public.ecr.aws
    IMAGE: flakybitnet/nextcloud/server
    GIT_STRATEGY: none
    AWS_ACCESS_KEY_ID: $ECR_USER
    AWS_SECRET_ACCESS_KEY: $ECR_PASSWORD
  script:
    - printf '{"credHelpers":{"%s":"%s"}}' "$REGISTRY" 'ecr-login' > "$HOME/auth.json"
    - skopeo copy "docker://$CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME" "docker://$REGISTRY/$IMAGE:$CI_COMMIT_REF_NAME"
        --dest-authfile="$HOME/auth.json"
